.parent {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}
.parent > div {
    background: var(--theme-dark);
    color: var(--gray);
    border: 1px ridge dimgrey;
    height: 120px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out;
    background: linear-gradient(45deg, #083270, #13f287, #5ca0de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px ridge #00924b;
}
.parent > div:hover {
}
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 2 / 2 / 3 / 4; }
    .div7 { grid-area: 2 / 4 / 3 / 5; }
    .div8 { grid-area: 3 / 1 / 4 / 3; }
    .div9 { grid-area: 3 / 3 / 4 / 4; }
    .div10 { grid-area: 3 / 4 / 4 / 5; }
    .div11 { grid-area: 4 / 1 / 5 / 2; }
    .div12 { grid-area: 4 / 2 / 5 / 4; }
    .div13 { grid-area: 4 / 4 / 5 / 5; }
    .div14 { grid-area: 5 / 1 / 6 / 2; }
    .div15 { grid-area: 5 / 2 / 6 / 3; }
    .div16 { grid-area: 5 / 3 / 6 / 5; }

    @media screen and (max-width: 1024px) {
        .parent > div {
            height: 180px;
        }
    }
    @media screen and (max-width: 815px) {
        .parent {
            display: flex;
            flex-direction: column;
        }
        .parent > div {
            height: fit-content;
            padding: 35px 20px;
        }   
    }