.count-section {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}
.count-container {
    width: 100%;
    max-width: 180px;
}
.count-title {
    margin-bottom: 10px;
    color: var(--theme-dimLight);
}
.count-value {
    font-size: 36px;
    color: var(--theme-lightblue);
    font-weight: 500;
}
.count-label {
    font-size: 14px;
    color: var(--theme-dimLight);
    display: none;
}

@media screen and (max-width: 1027px) {
    .count-section {
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
    }
}
@media screen and (max-width: 830px) {
    .count-container {
        width: 100%;
        max-width: 140px;
    }
    .count-title {
        margin-bottom: 0px;
    }
    .count-value {
        font-size: 26px;
        font-weight: 500;
    }
    .count-label {
        font-size: 14px;
    }
}


@media screen and (max-width: 600px) {
    .count-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
    }
}
@media screen and (max-width: 480px) {}