.section {
    padding: 50px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.heading {
    text-align: center;
    font-size: 30px;
    color: var(--theme-light);
}
.button {
    padding: 16px 32px;
    font-size: 18px;
    background: var(--theme-lightblue);
    color: var(--theme-light);
    border: none;
    border-radius: 8px;
    transition: .4s ease-in-out;
    cursor: black;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .heading {
        font-size: 24px;
    }
    .button {
        font-size: 16px;
    }
}