.getStartedSection {
    margin-top: 50px;
    background: var(--theme-dark);
    padding: 50px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.getStartedContainer {
    width: 100%;
    max-width: var(--max-width);
    border-radius: 8px;
}
.getStartedHeading {
    color: var(--theme-light);
    text-align: center;
}
.getStartedHeading > span {
    background: linear-gradient(45deg, #083270, #13f287, #5ca0de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.getStartedArticle {
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.getStarted {
    background: none;
    padding: 40px;
    border-radius: 20px;
    color: var(--theme-light);
    display: flex;
    gap: 40px;
}
.getStarted span {
    font-weight: 700;
    font-size: 90px;
    background: linear-gradient(45deg, #083270, #13f287, #5ca0de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media screen and (max-width: 760px) {
    .getStartedHeading {
        font-size: 24px;
        
    }
    .getStartedArticle {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }
}