.heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 130px 20px 0px 20px;
}
.heroArticle {
    width: 100%;
    max-width: 850px;
    margin: auto;
    text-align: center;
}
.heroTitle {
    margin-bottom: 20px;
    line-height: 70px;
    font-weight: 800;
    color: var(--theme-light);
}
.heroTitle > span {
    background: linear-gradient(45deg, #083270, #13f287, #5ca0de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.heroDescription {
    color: var(--theme-light);
    opacity: .8;
    margin-bottom: 30px;
}
.connect-button {
    padding: 14px 40px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-weight: 500;
    color: var(--theme-light);
    border: 1px ridge #13f287;
    background: none;
    transition: .3s ease-in-out;
}
.connect-button:hover {
    border: 1px ridge #00924b;
}
.connect-button:active {
    scale: .97;
}

@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1024px) {
    .heroTitle {
        font-size: 48px;
        margin-bottom: 15px;
        line-height: 4rem;
    }
}
@media screen and (max-width: 980px) {}
@media screen and (max-width: 768px) {
    .heroSection {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        padding: 150px 20px 40px 20px;
    }   
    .heroTitle {
        line-height: 3.5rem;
    }
}
@media screen and (max-width: 600px) {
    .heroTitle {
        font-size: 36px;
        margin-bottom: 10px;
        line-height: 3rem;
    }
}
@media screen and (max-width: 480px) {
    .heroSection {
        padding: 150px 20px 20px 20px;
    }
}