.heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 130px 20px 0px 20px;
}
.heroArticle {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.heroImage {
    width: 100%;
    max-width: 600px;
}
.heroTitle {
    margin-bottom: 20px;
    line-height: 70px;
    font-weight: 800;
    color: var(--theme-light);
}
.heroDescription {
    color: var(--theme-light);
    opacity: .8;
    margin-bottom: 30px;
}
.connect-button {
    padding: 14px 20px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    color: var(--theme-light);
    border: 1px solid var(--theme-lightblue);
    background: var(--theme-lightblue);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.connect-button:hover {
    color: var(--theme-light);
    border: 1px solid var(--theme-purple);
    background: var(--theme-purple);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.connect-button:active {
    scale: .97;
}

@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1024px) {
    .heroTitle {
        font-size: 48px;
        margin-bottom: 15px;
        line-height: 4rem;
    }
}
@media screen and (max-width: 980px) {}
@media screen and (max-width: 768px) {
    .heroSection {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        padding: 150px 20px 40px 20px;
    }   
    .heroTitle {
        line-height: 3.5rem;
    }
}
@media screen and (max-width: 600px) {
    .heroTitle {
        font-size: 36px;
        margin-bottom: 10px;
        line-height: 3rem;
    }
}
@media screen and (max-width: 480px) {
    .heroSection {
        padding: 150px 20px 20px 20px;
    }
}