.footer {
    padding: 35px 20px;
}
.section {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--theme-light);
    gap: 20px ;
}
.iconsContainer {
    display: flex;
    gap: 20px;
}
.icon {
    font-size: 20px;
    transition: .4s ease-in-out;
    cursor: pointer;
    color: var(--theme-lightblue);
}
.icon:hover {
    color: var(--theme-light);
}
.copyright {
    font-size: 15px;
    font-weight: 500;
}
